
body{
    background-color: #CDD4E1 !important;
}
.login-screen{
   .login-wrapper{
        font-family:'Poppins', sans-serif;
        left: 50%;
        top: 50%;
        position: absolute;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
      //  border: 1px solid #d9d9d9;
        padding: 25px;
    }
    .login-card{
        
        display: flex;
        justify-content: center;
    }
    .login-brand{
        height: 60px;
        //margin: 20px 20px 20px 20px;
        margin: auto;
        /* text-align: center; */
        display: flex;
    }
    .login-username{
        margin-top: 20px;
    }
    h1{
       text-align: center;
       font-family: "Poppins", sans-serif ;
       font-size: 30px;
       font-weight: 800;
       color: #5B71E8;
       text-shadow: 0.5px 0.5px  gray;
    }
    .login-form-forgot{
        color: #5B71E8;
        // margin-top: 20px;
        // margin-left: 100px;
    }
    .login-btn{
        background-color: #5B71E8;
       // padding: 10px 15px 10px 15px;
        border-radius: 5px;
        color: white;
        text-align: center;
        //align-self: flex-end;
        //margin: -10px 0 0 0;
        width: 330px;
       // margin: auto;
        //margin-top: 40px;
        cursor: pointer;
    }
    .login-btn:hover {
        background-color: #5B71E8;
        color: white;
        border:1px solid #5B71E8;
    }
    @media screen and (max-width: 720px) {
        .login-wrapper{
        //     border: 0px solid #d9d9d9;
        //    padding: 15px;
        //     margin: 25px;
        //     margin-top: 40%;
        //     left:0;
        //     top:0;
        //    // display: flex;
        //    // align-items: center;
        //     position: inherit;
        //     transform: none;
        border: 0px solid #d9d9d9;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
            
    }
    // .login-card{
    //   //  margin-right: 20px;
    // }
    .image-card{
        display: none;
    }
    
    .login-btn{
        width:240px;
        text-align: center;
    }
}
}

