.gift-card-screen{
    .gift-card-inner-wrapper{
        display: flex;
        flex-direction: column;
    }
    .search-wrapper{
        padding: 10px 15px;
        border-radius: 25px;
        color: white;
        text-align: center;
        align-self: flex-end;
        margin: -5px 0 5px 0;
    }
    .options-wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
    }
}