.gift-card-screen{
    font-family: 'Kumbh Sans', sans-serif;
    .gift-card-inner-wrapper{
        font-family: 'Kumbh Sans', sans-serif;
        display: flex;
        flex-direction: column;
    }
    .search-wrapper{
        padding: 10px 15px;
        border-radius: 25px;
        color: white;
        text-align: center;
        align-self: flex-end;
        margin: -5px 0 5px 0;
    }
    .options-wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .primary-btn{
        margin-bottom: 15px;
    }
    .margin-adjust{
        margin-top: 12px;
    }
}