.profile-screen{
    font-family: 'Kumbh Sans', sans-serif;
    .content-body-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Kumbh Sans', sans-serif;
    }
    

   .profile-card-body{
       display: flex;
       align-items: center;
       justify-content: center ;
       margin-right: 30px;
       margin-bottom: 10px;
      
      
    }
.img-card{
    
    width: 140px;
    height: 140px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-bottom: 10px;
    margin-left: 20px ;
}
.profile-card{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    
    
}   
    
.profile-card-pwd{
   
    display: flex;
    justify-content: center;
    align-items : center;
    margin: 10px ;
    flex-direction: column;
}   
.pwd-card-body{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
   
}
.profile-primary-btn{
   
        background-color: #343557;
        padding: 10px 15px;
        border-radius: 25px;
        color: white;
        text-align: center;
       align-items: center;
        margin: -5px 120px 10px 120px;
      
}    
}

   
