.profile-screen {
    background-color: #f6f6f8;
    .content-body-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        margin: 0px 0px 20px -20px;
    }
    .img-card {
        width: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
        align-items: flex-start;
        border-radius: 50%;
        float: left;
        margin-top: 60px;
        margin-right: -40px;
        margin-left: 10px;
    }
    .profile-img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    .edit-btn-card {
        float: left;
        margin-right: 30px;
        margin-top: 50px;
    }
    .profile-card {
        width: 64%;
        height: 370px;
        .ant-card {
            border-radius: 5px;
            box-shadow: 0 0px 12px #d2d2d2;
        }
    }
    .title-card {
        border: 0.5px solid white;
        font-size: 18px;
        color: rgb(107, 104, 104);
        padding: 10px;
        background-color: #f6f6f8;
        margin: -10px -10px 10px -10px;
        border-radius: 5px;
        font-weight: 540;
        font-family: "Poppins", sans-serif;
    }
    .profile-card-body {
        width: 230%;
        margin-left: 10px;
        margin-bottom: -10px;
    }

    .profile-card-pwd {
        width: 31%;
        margin: 0px 0px 0px 20px;
        .ant-card {
            border-radius: 5px;
            box-shadow: 0 0px 12px #d2d2d2;
        }
    }
    .pwd-card-body {
        margin-left: 10px;
        width: 130%;
         margin-bottom: -10px;
    }
    .profile-primary-btn {
        background-color: #5d72e9;
        width: 180px;
        height: 40px;
        border-radius: 5px;
        color: white;
        margin-left: 10px;
        cursor: pointer;
    }
    .profile-primary-btn:hover {
        background-color: #5d72e9;
        color: white;
        border: 1px solid #5d72e9;
    }
    .profile-primary-btn:active {
        background-color: #5d72e9;
        color: white;
        border: 1px solid #5d72e9;
    }
    .profile-primary-btn:focus {
        background-color: #5d72e9;
        color: white;
        border: 1px solid #5d72e9;
    }
    .profile-primary-pwd-btn {
        background-color: #5d72e9;
        width: 150px;
        height: 40px;
        border-radius: 5px;
        color: white;
        margin-left: 10px;
        cursor: pointer;
    }
    .profile-primary-pwd-btn:hover {
        background-color: #5d72e9;
        color: white;
        border: 1px solid #5d72e9;
    }
    .profile-primary-pwd-btn:active {
        background-color: #5d72e9;
        color: white;
        border: 1px solid #5d72e9;
    }
    .profile-primary-pwd-btn:focus {
        background-color: #5d72e9;
        color: white;
        border: 1px solid #5d72e9;
    }
    @media screen and (max-width: 720px) {
        .content-body-wrapper {
            display: flex;
            flex-direction: column;
            margin: 10px 0px 20px 0px;
        }
        .img-card {
            margin-left: 50px;
        }
        .profile-img {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
        }
        .profile-card {
            width: 100%;
            height:680px;
        }
        .edit-btn-card {
            float: right;
            margin-right: 10px;
        }

        .profile-card-pwd {
            margin: 10px 0px 10px 0px;
            width: 100%;
        }
        .profile-card-body {
            width: 115%;
        }
        .pwd-card-body {
            margin-left: 15px;
            width: 100%;
        }
    }
}
