.profile-screen{
    background-color:#ffffff;
    .content-body-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-shadow:0.5px 0.5px yellow;
        font-family: 'Poppins', sans-serif;
        margin: 0px 0px 20px -20px;
    }
.img-card{
    
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    border-radius: 50%;
    float: left;
    margin-top: 60px;
   margin-right: -40px ;
   margin-left: 20px;
}
.profile-img{
    display: inline;
    margin:0 auto;
    height: 100%;
    width: auto;
}
.edit-btn-card{
    
    float: left;
     margin-right: 30px;
    margin-top: 50px;
}   
.profile-card{ 
   width:67%;
  .ant-card{
        border-radius: 5px;
        box-shadow:0 0px 12px #d2d2d2;
    }
  }
    .title-card{
        border: 0.5px solid white;
        font-size: 18px;
        color: rgb(107, 104, 104);
        padding: 10px;
        background-color:#F6F6F8;
        margin: -10px -10px 10px -10px;
         border-radius: 5px;
        font-weight: 540;
        font-family: 'Poppins', sans-serif ;
        text-shadow: 0.5px 0.5px yellow;
       }
 .profile-card-body{
    width: 242%;
    margin-left: 10px;
   
}
        
.profile-card-pwd{
    width:31%;
    margin: 0px 0px 0px 20px ;
    .ant-card{
        border-radius: 5px;
        box-shadow:0 0px 12px #d2d2d2;
    }   
}   
.pwd-card-body{
     width:145%;  
}
.profile-primary-btn{
   
        background-color: #5C72E9;
        padding: 10px 15px;
        border-radius: 5px;
        color: white;
        text-align: center;
       align-items: center;
       text-shadow: none;
        margin: -10px 50px 0px 0px;
      
}  
.profile-primary-pwd-btn{
    background-color: #5C72E9;
        padding: 10px 15px;
        border-radius: 5px;
        color: white;
        text-align: center;
       align-items: center;
       text-shadow: none;
        margin: -10px 60px 0px 0px;
}   

@media screen and (max-width: 720px) {
    .content-body-wrapper{
           
       justify-content: center;
     // margin: 10px;
                flex-direction: column;
            }
            .profile-screen .img-card {
                /* FONT-WEIGHT: 100; */
                width: 150px;
                height: 150px;
                position: relative;
                overflow: hidden;
                align-items: flex-start;
                border-radius: 50%;
                margin-top: 30px;
            }
            .profile-img{
                display: inline;
                margin:0 auto;
                height: 100%;
                width: auto;
            }
            .profile-card{
                width: 90%;
            }
            .edit-btn-card{
    
                float: right;
                 margin-right: 10px;
               
            }   
    
    .profile-card-pwd{
        margin: 10px 0px 10px 0px;
        width: 90%;
    }
    .profile-card-body{
  
        width:101%;
    }
    .pwd-card-body{
        width:100%;  
   }
}
}