$primary-clr: #343557; //#4f6ee3;
$heading-font:'Kumbh Sans', sans-serif;
$general-font:'Kumbh Sans', sans-serif;
$blue:#6ec1e4;
$grey1:#43403e;
$grey2: #7a7a7a;
$grey3:#b1b1b1;
$grey4:#dedede;