$primary-clr: #343557; //#4f6ee3;
$heading-font:'Poppins', sans-serif;
$general-font:'Poppins', sans-serif;
$blue:#6ec1e4;
$grey1:#43403e;
$grey2: #7a7a7a;
$grey3:#b1b1b1;
$grey4:#dedede;
$grey5:#F6F6F8;
$red:#D42A68;
$yellow:#FFC702;
$green:#3AC81E;
$blue1:#8A50FD;