.dashboard-screen{
    font-family: 'Kumbh Sans', sans-serif;
    .content-body-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Kumbh Sans', sans-serif;
    }
    .dashboard-card{
        margin: 10px;
    }

   
}