.dashboard-screen{
    background-color: #F6F6F8;
  
    .content-body-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Poppins', sans-serif ;
        box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgpa(0,0,0,0.23);
        border-radius: 10px;
        background-color: white;
        
        
    }
    .dashboard-card{
        margin: 30px 10px 30px 20px;
        
       width: 32%;
       .ant-card-meta-title{
           margin-top:10px;
           color:white;
       }
       .ant-card-meta-description{
           color: white;
       }
       .ant-card{
           border-radius: 10px;
       }
       
       
       }
       
    }

   
