.service-history-screen{
    font-family: 'Kumbh Sans', sans-serif;
    .gift-card-inner-wrapper{
        font-family: 'Kumbh Sans', sans-serif;
        display: flex;
        flex-direction: column;
    }
    .search-wrapper{
        font-family: 'Kumbh Sans', sans-serif;
        padding: 10px 15px;
        border-radius: 25px;
        color: white;
        text-align: center;
        align-self: flex-end;
        margin: -5px 0 10px 0;
    }
    // .service-history-wrapper{
    //     //display: flex;
    //    // width: 40%;
    // }
    .client-details-wrapper{
        display: flex;
        flex-direction: column;
    }
    .client-img{
        height: 120px;
        object-fit: contain;
    }
    .client-form-wrapper{
        margin: 20px 0 0 0;
    }
    .card-wrapper{
        margin: 10px;
    }
    .service-view-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .view-btn{
      margin-top: -25px;
    }
}