@import 'src/constants/variables';
.nav-screen{
    font-family: 'Kumbh Sans', sans-serif;
    .navbar{
        background-color: #343557;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 98;
        width: 80px;
        color: #fff;
        margin-bottom: 33px;
        border-bottom-right-radius: 20px;
        margin-top: 56px;
        border-top-right-radius: 20px;
        padding-top: 35px;
    }

    .caret-icon{
        position: absolute;
        margin: 0 21px;
    }

    .nav-options-wrapper{
    //    margin: 100px 0 0 0;
    }

    .nav-option{
        margin: 20px 0;
        text-align: center;
    }

    .nav-option-title{
        color:$grey3;
        cursor: pointer;
        line-height: 1.5;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 0.85em;
    }
    .nav-option-title-selected{
        color:#fff;
        cursor: pointer;
        line-height: 1.5;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 0.95em;
    }

    .nav-title{
        color: white;
        background-color: $primary-clr;
        font-weight: 600;
        padding: 20px 46px 16px 24px;
        font-family: $heading-font;
    }
    
    .nav-option-text-selected{
        color: #a2a3b7;
    }

    .nav-option-outer-wrapper{
        margin-top: 20px;
    }

    .nav-option-wrapper{
        padding: 55px 0 0 0;
        display: flex;
        flex: 1 1;
        align-items: center;
        cursor: pointer;
    }
    
    .nav-option-icon{
        font-size: 22px;
    }
    
    .option-selected{
        color: #fff;
    }

    .ant-drawer-body{
        background-color: #343557 !important;
        
    }

    @media screen and (max-width: 720px) {
        .nav-options-wrapper{
            display: none;
        }
        .navbar{
            background-color: transparent;
            width:0;
        }
        .nav-title{
            padding: 16px 36px 16px 16px;
        }

        .nav-bar-mob-wrapper{
            z-index: 99;
            position: absolute;
            margin: 20px 15px;
        }
        .ant-drawer-title{
            color: #fff !important;
        }

        .ant-drawer-body{
            background-color: #343557 !important;
        }
        .nav-options-wrapper-mob{
            padding: 55px 0 0 0;
            display: flex;
            flex: 1 1;
            align-items: center;
            cursor: pointer;
        }
        
        .nav-option{
            margin: 20px 0;
            text-align: center;
            display: flex;
        }

        .caret-icon{
            display: none;
        }
    }
}

   
    