@import 'src/constants/variables';
    .navbar{
        background-color: $primary-clr;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 98;
        width: 70px;
        color: #fff;
    }

    
    
    .nav-options{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: 30px 0px 32px 0px;
        color: $grey3;
    }
    .nav-title{
        color: white;
        background-color: $primary-clr;
        font-weight: 600;
        padding: 20px 46px 16px 24px;
        font-family: $heading-font;
    }
    .MuiDrawer-paperAnchorLeft{
        background-color: #1f1e2e !important;
    }
    .MuiTypography-displayBlock{
        color: #fff;
    }
    .MuiListItemIcon-root{
        color: #fff !important;
        padding-left: 10px;
        min-width: 40px !important;
    }
    .MuiListItemIcon-root-selected{
        color: $primary-clr !important;
    }
    
    .MuiButtonBase-root .MuiListItem-root .MuiListItem-gutters .MuiListItem-button{
        color: $primary-clr !important;
    }

    

    .MuiSvgIcon-root{
        width:20px !important;
        height: 20px !important;
    }
    // .nav-option-text{
    //     color: #fff;
    //     font-family:$heading-font;
    //     padding: 5px;
    //     line-height: 1.5;
    //     color: #fff;
    //     padding: 8px 5px;
    //     line-height: 1.5;
    //     font-family: "Montserrat", Sans-serif;
    // }
    .nav-option-text-selected{
        color: #a2a3b7;
    }

    .nav-option-outer-wrapper{
        margin-top: 20px;
    }

    .nav-option-wrapper{
        padding: 15px 20px 15px 20px;
        display: flex;
        flex: 1 1;
        align-items: center;
        cursor: pointer;
    }

    .nav-option-icon{
        color: $grey3;
        margin-left: 5px;
    }
    
    .nav-option-title{
        margin-left: 20px;
        color:$grey3;
        cursor: pointer;
        line-height: 1.5;
        font-family: "Montserrat", Sans-serif;
    }
    .option-selected{
        color: #fff;
    }

    @media screen and (max-width: 720px) {
        .nav-options-wrapper{
            display: none;
        }
        .navbar{
            background-color: transparent;
            width:0;
        }
        .nav-title{
            padding: 16px 36px 16px 16px;
        }
    }