.page-title-wrapper{
    display: flex;
    margin: -20px 0 20px -15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow:0 0px 12px #d2d2d2;
    border-radius: 5px;
    background-color: white;
}
.page-title{
    font-size: 18px;
    color:#565656;
    margin: 10px 0px 10px 20px;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
}
.page-title-divider{
    margin:0px !important;
}