.service-screen{
     font-family: 'Kumbh Sans', sans-serif;
    .content-body-wrapper{
      font-family: 'Kumbh Sans', sans-serif;
        display: flex;
        flex-direction: column;
    }
    .dashboard-card-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .dashboard-card{
        margin: 10px;
    }
    .service-card-body-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   .service-card-title{
        margin-bottom: 10px;
   }
   .service-add-btn{
    background-color: #343557;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
    text-align: center;
    align-self: flex-end;
    margin: -5px 0 10px 0;
   }
   .service-edit-btn{
        background-color: #343557;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
    text-align: center;
    align-self: flex-end;
    margin: -5px 0 10px 0;
   }
   .service-add-content{
        display: flex;
        flex-wrap: wrap;
        flex: 1 1;
   }
   .service-add-left-content{
        display: flex;
        flex-direction: column;
        flex: .3 1;
   }
   .service-add-right-content{
        flex: 1;
        padding: 20px 20px 20px 0px;
        margin-left: -80px;
   }
   .service-add-img{
        object-fit: contain;
        width: 200px;
        height: 200px;
        align-self: center;
        margin-bottom: 15px;
   }
   .image-picker-title{
    text-align: center;
   }
   .image-picker-outer-wrapper{
        //display:flex;
    border: 0.01px solid #d9d9d9;
    padding: 10px;
    margin: 0 10px;
   }
   .plus-btn{
    display: flex;
    margin: 20px 0 0 0;
    border: 0.01px solid #d9d9d9;
    padding: 5px 0px;
    width: 100px;
   }
   .plus-btn-wrapper{
    display: flex;
    justify-content: center;
   }
   .service-add-outer-wrapper-card{
        display: flex;
    margin: 10px;
    //width: 80%;
   }
  

}
