.promotions-screen {
    background-color: #f6f6f8;
    .content-body-wrapper {
        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: column;
    }
    .promo-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 15px;
    }
    .promotions-card {
        .ant-card {
            border-radius: 5px;
            box-shadow: 0 0px 12px #d2d2d2;
            margin-right: 20px;
        }
    }
    .primary-btn {
        background-color: #5d72e9;
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        color: white;
        align-self: flex-end;
        cursor: pointer;
    }

    .promo-card {
        margin: 15px 0px;
    }

    .img-card {
        float: right;
        width: 150px;
        height: 140px;
        position: relative;
        margin-left: 20px;
    }
    .btn-card {
        background-color: #5d72e9;
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    .btn-card:focus {
        background-color: #5d72e9;
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    .btn-card:hover {
        background-color: #5d72e9;
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    .btn-card :active {
        background-color: #5d72e9;
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    .edit-btn-card {
        text-align: right;
        margin-top: -20px;
        margin-right: -20px;
        margin-bottom: 5px;
    }
    .promo-name{
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
        color: #5f5956;
        font-weight: 600;
    }
    .desc-card {
        font-family: "Poppins", sans-serif;
        display: flex;
        margin-bottom: 10px;
        font-size: 12px;
        width: 140px;
        height: 140px;
        word-break: break-all;
        color: #9c9c9c;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body {
        background-color: #f6f6f8;
    }

    @media screen and (max-width: 720px) {
        .promotions-card {
            margin-right: -10px;
            .ant-card {
                margin-right: 10px;
            }
        }
        .promo-card {
            margin-left: -5px;
        }
        .img-card {
            margin-left: 30px;
            float: none;
        }
        .desc-card {
            width: 200px;
            margin-left: 10px;
        }
        .btn-card {
         //   margin-left: 30px;
        }
    }
}
