
body{
    background-color: #CDD4E1 !important;
    background-image: url('../../assets/login-bgk.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.login-screen{
    .error-msg{
        color: red;
        text-align: center;
        margin: -10px 0px 10px 0px;
    }
   .login-wrapper{
        font-family:'Poppins', sans-serif;
        left: 50%;
        top: 50%;
        position: absolute;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        padding: 25px;
    }
    .login-card{
        
        display: flex;
        justify-content: center;
    }
    .login-brand{
        height: 60px;
        margin: auto;
        display: flex;
    }
    .login-username{
        margin-top: 20px;
    }
    h1{
       text-align: center;
       font-family: "Poppins", sans-serif ;
       font-size: 30px;
       font-weight: 800;
       color: #5D72E9;
       text-shadow: 0.5px 0.5px  gray;
    }
    .login-form-forgot{
        color: #5D72E9;
        
    }
    .login-btn{
        background-color: #5B71E8;
        border-radius: 5px;
        color: white;
        text-align: center;
        width: 330px;
        cursor: pointer;
    }
    .login-btn:hover {
        background-color: #5D72E9;
        color: white;
        border:1px solid #5D72E9;
    }
    .login-btn:active {
        background-color: #5D72E9;
        color: white;
        border:1px solid #5D72E9;
    }
    .login-btn:focus {
        background-color: #5D72E9;
        color: white;
        border:1px solid #5D72E9;
    }
    @media screen and (max-width: 720px) {
        .login-wrapper{
        border: 0px solid #d9d9d9;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
            
    }
    .image-card{
        display: none;
    }
    
    .login-btn{
        width:240px;
        text-align: center;
    }
}
}

